# Visual Studio temporary files
.vs/
*.user
*.suo
*.vscode/

# Build results
bin/
obj/
Debug/
Release/
*.dll
*.exe
*.pdb
*.cache
*.json.cache
*.log

# NuGet
*.nupkg
*.snupkg
*.nuspec
project.lock.json
artifacts/

# Publish output
publish/
out/
